:root {
  --palette-light-silver: #f6f6f2;
  --palette-light-cloud: #e9ece6;
  --palette-light-edge: #d8ddd3;
  --palette-light-outline: #9fa79b;
  --palette-light-fog: #61685f;
  --palette-light-ink: #2b302e;
  --palette-dark-0: #1c201f;
  --palette-dark-1: #272d29;
  --palette-dark-2: #3c453f;
  --palette-dark-3: #727d72;
  --palette-dark-text: #efefe7;
  --palette-dark-text-dim: #b0b8ac;
  --palette-blue-light: #526682;
  --palette-blue-dark: #afc3df;
  --palette-amber-light: #806127;
  --palette-amber-dark: #dcc18d;
  --palette-matcha-light: #607149;
  --palette-matcha-dark: #b1bea0;
  --palette-success-light: #456751;
  --palette-success-dark: #9bc7aa;
  --palette-warning-light: #786027;
  --palette-warning-dark: #d5bd86;
  --palette-error-light: #a04345;
  --palette-error-dark: #e89e9f;
}
