:root {
  --palette-light-silver: #f7f6f2;
  --palette-light-cloud: #e9ebef;
  --palette-light-edge: #d6dae1;
  --palette-light-outline: #9ca4b0;
  --palette-light-fog: #606775;
  --palette-light-ink: #2d3038;
  --palette-dark-0: #202127;
  --palette-dark-1: #2b2e36;
  --palette-dark-2: #414651;
  --palette-dark-3: #77808f;
  --palette-dark-text: #f1efe8;
  --palette-dark-text-dim: #b5bcc8;
  --palette-blue-light: #526682;
  --palette-blue-dark: #afc3df;
  --palette-amber-light: #806127;
  --palette-amber-dark: #dcc18d;
  --palette-matcha-light: #607149;
  --palette-matcha-dark: #b1bea0;
  --palette-success-light: #456751;
  --palette-success-dark: #9bc7aa;
  --palette-warning-light: #786027;
  --palette-warning-dark: #d5bd86;
  --palette-error-light: #a04345;
  --palette-error-dark: #e89e9f;
  --palette-artwork-paper: #ffffff;
  --palette-sticker-field: #ededed;
}
